body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 100px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card h2 {
    text-align: center;
}

.card input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.card button {
    width: 100%;
    padding: 10px;
    background: hsl(200, 76%, 45%);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover {
    background:  hsl(200, 76%, 45%);
}
